.card {
    width: 15rem;
    height: 25rem;
    border-radius: 10px;
    overflow: hidden;
    color: #e8e8e8;
    box-shadow: 10px 5px 5px rgba(245, 245, 245, 0.5);
    padding: 2rem;
    background-color: #9985D551;
    border: 4px solid #9985d5;
}

.card-top {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-icon {
    width: 8rem;
    height: 8rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-content button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .card {
        width: 10rem;
        height: 18rem;
        overflow: hidden;
        padding-top: 0;
    }
    .card-top {
        white-space: nowrap;
        font-size: smaller;
    }
    .card-icon {
        width: 4rem;
        height: 4rem;
    }
    .card-content p {
        font-size: small;
        height: 8rem;
        overflow: scroll;
    }
    .card-content button {
        margin-top: 11rem;
        position: absolute;
    }

}




