@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import "tailwindcss";

body {
  background-color: lightblue;
  
}

@theme {
    --color-primary-100: #f3fdff;
    --color-primary-200: #c4dfe6;
    --color-primary-300: #66a5ad;
    --color-primary-400: #07575b;

    --font-archivoBlack: 'Archivo Black', sans-serif;
    --font-leagueSpartan: 'League Spartan', sans-serif;
  }